* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ancho y color de la barra */
::-webkit-scrollbar {
  width: 12px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
  background: #25252555;
}

/* Color de la parte deslizante de la barra */
::-webkit-scrollbar-thumb {
  background: #000000;

  border-radius: 2px;
}

/* Efecto al pasar el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background: #009ec5;
}

body {
  background-color: #000000;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #000000 40px
    ),
    repeating-linear-gradient(#25252555, #252525);

  background-attachment: fixed;
  background-position: center;
}

/* Estilos para el navbar */
.logo {
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

.active {
  font-weight: bold;
}
